<h1>Log in to your Account</h1>

<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username...">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password...">
  <button type="submit" value="submit">Log in</button>
</form>

<p>Don't have an account? sign up <a href="/signup">here</a></p>