<form action='/hospitals' method='post'>
    <input type="text" name="hospital_name" placeholder="Hospital Name">
    <input type="text" name="hospital_country" placeholder="Hospital's Country">
    <input type="submit" value="submit">
</form>

<p>Log out <a href="/logout">here</a></p>