<form action='/hospitals/<%= @hospital.id %>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="hospital_name" value="<%= @hospital.hospital_name %>">
  <input type="text" name="hospital_country" value="<%= @hospital.hospital_country %>">
  <input type="submit" value="submit">
</form>

<p>Log out <a href="/logout">here</a></p>