<p>Welcome, <%= current_user.username %></p> 

<p>See your Hospitals <a href="/users/show/<%= current_user.id %>">here</a> or add a new one <a href="/hospitals/new">here</a></p>

<p>Log out <a href="/logout">here</a></p>